<div class="flex justify-center">
  <div id="flash-messages" class="fixed bottom-5 inset-x-0 z-50 flex justify-center transition-opacity duration-500 ease-out">
    <% if notice.present? %>
      <div class="bg-green-300 text-green-600 text-center px-6 py-4 rounded-lg shadow-lg text-sm flex justify-between items-center">
        <div class="pr-4"><%= notice %></div> 
        <div class="cursor-pointer" onclick="this.parentElement.parentElement.style.display='none'">&times;</div>
      </div>
    <% end %>

    <% if alert.present? %>
      <div class="bg-red-300 text-red-600  px-6 py-4 rounded-lg shadow-lg text-sm flex justify-between items-center">
        <div class="pr-5"><%= alert %></div> 
        <div class="cursor-pointer" onclick="this.parentElement.parentElement.style.display='none'">&times;</div>
      </div>
    <% end %>
  </div>
</div>

<script>
  (function() {
    const flash = document.getElementById("flash-messages");
    if (!flash) return;
    setTimeout(() => {
      flash.classList.add("opacity-0");
      setTimeout(() => { flash.style.display = 'none'; }, 500);
    }, 2500);
  })();
</script>