<h1 class="text-3xl font-extrabold text-gray-900 mb-6"><%= t('.title') %></h1>
<%= link_to t('common.actions.back'), admin_plans_path, class: "text-blue-600 hover:text-blue-800 mb-4 inline-block text-lg font-medium" %>

<%= render "errors", plan: @plan %>
<div class="bg-white p-6 rounded-lg shadow-lg">
  <%= render "form", plan: @plan %>
</div>
