<div class="flex justify-between items-center mb-6 pb-3">
  <p class="text-2xl font-semibold text-slate-900">
    <%= t('.title') %> <!-- Nadpis pre klienta -->
  </p>
</div>

<div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 gap-6 mt-6">
  <% @plans.each do |plan| %>
    <div class="relative flex flex-col bg-white shadow-md border border-slate-200 rounded-lg w-full h-full">
      <!-- Názov plánu -->
      <div class="mx-3 mb-2 border-b border-slate-200 pt-3 pb-2 px-1">
        <%= link_to plan.name, client_plan_path(plan), 
            class: "text-slate-800 text-lg font-semibold text-center block hover:underline" %>
      </div>
  
      <!-- Popis plánu -->
      <div class="p-4 flex-1">
        <p class="text-slate-600 leading-normal font-light">
          <%= plan.description %>
        </p>
      </div>
  
      <!-- Footer s ikonami akcií -->
      <div class="mx-3 border-t border-slate-200 pb-3 pt-2 px-1">
        <div class="flex justify-between items-center gap-4">
        </div>
      </div>
    </div>
  <% end %>
</div>