<% if exercise.errors.any? %>
  <div class="bg-red-100 border-l-4 border-red-500 text-red-700 p-4 mb-4">
    <h2 class="font-bold"><%= t('.title') %></h2>
    <ul class="list-disc pl-5">
      <% exercise.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
